<div class="panel panel-default" ng-controller="VPNfruit_controller">
	<div class="panel-heading">
		<h3 class="panel-title">VPN script file</h3>
	</div>
	<div class="panel-body">
		<p>Filename of the VPN control script:
		<br />/etc/init.d/<input class="input" type="text" ng-model="inputPath">
		<br />
		<br /><button class="btn btn-default" ng-click="savePath()">
			Save Path
		</button>
	</div>


	<div class="panel-heading">
		<h3 class="panel-title">Live VPN Control</h3>
	</div>
	<div class="panel-body">
		<button class="btn btn-default" ng-click="startVPN(); getLiveStatus()">
			Start
		</button>
		<button class="btn btn-default" ng-click="stopVPN(); getLiveStatus()">
			Stop
		</button>
		<br />
		<br /><p>Current live status:	{{ liveStatus }}</p>
	</div>

	<div class="panel-heading">
		<h3 class="panel-title">VPN on Boot</h3>
	</div>
	<div class="panel-body">
		<button class="btn btn-default" ng-click="enableVPN(); getBootStatus()">
			Enable
		</button>
		<button class="btn btn-default" ng-click="disableVPN(); getBootStatus()">
			Disable
		</button>
		<br />
		<br /><p>Current boot status:	{{ bootStatus }}</p>
	</div>

	<div class="panel-heading">
		<h3 class="panel-title">ipinfo.io output</h3>
	</div>
	<div class="panel-body">
		<button class="btn btn-default" ng-click="getIpinfoDump();">
			curl ipinfo.io
		</button>
		<br />
		<br />{{ ipinfoDump_0 }}
		<br />{{ ipinfoDump_1 }}
		<br />{{ ipinfoDump_2 }}
		<br />{{ ipinfoDump_3 }}
		<br />{{ ipinfoDump_4 }}
		<br />{{ ipinfoDump_5 }}
		<br />{{ ipinfoDump_6 }}
		<br />{{ ipinfoDump_7 }}
		<br />{{ ipinfoDump_8 }}
		<br />{{ ipinfoDump_9 }}
	</div>


<div class="well alert-warning" ng-show="message">
	{{ message }}
</div>
